.hero {
  span {
    font-size: smaller;
    font-weight: normal;
  }
}

.disclaimer {
  font-size: 14px;
}

.currentMonth {
  font-size: xxx-large;
  text-transform: capitalize;
  text-align: center;
}

.remainingToBePaid {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  text-transform: none;
  span {
    color: gray;
  }
}
